---
sitemap:
exclude: 'yes'
---

/*
this ensures Jekyll reads the file to be transformed into CSS later
only Main files contain this front matter, not partials.
*/

/*
* Contents
* Body resets
* Custom type
* Messages
* Container
* Masthead
* Footer
* Posts and pages
* Pagination
* Responsive iFrame Embeds
* Syntax (Code)
*/

$red-orange: #bb1b49;
$green-matte: #94b288;
$grey: #808080;
$light-grey: #f9f9f9;
$text: rgba(0,0,0,.9);

$small-spacing: .5rem;
$large-spacing: 2rem;
$page-width: 90vw;
$max-page-width: 700px;

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: $max-page-width;
  padding: 0;
  width: $page-width;
}

html {
  color: $text;
  font: 110%/1.5 Georgia, serif;
}

@media (min-width: 600px) {
  html {
    font-size: 115%;
  }
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: $red-orange;
  text-decoration: none;
}

a strong {
  color: inherit;
}

/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
  margin: 1em 0 .8rem 0; // .8rem for baseline adjustment
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.3rem;
  font-style: italic;
}

h5, h6 {
  font-size: 1rem;
}

/* Body text */
p {
  margin: 0 0 1em 0;
}

/* Lists */
ul, ol, dl {
  margin-top: 0 0 1rem 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  border: none;
  color: $grey;
  font-size: 1.5rem;
  line-height: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

hr:after {
  content: "· · ·";
  letter-spacing: .25em;
}

/* Code */
code,
pre {
  background-color: $light-grey;
  font-family: Consolas, Monaco, monospace;
  font-size: .8rem;
  width: 100%;
}

code {
  border-radius: 3px;
  padding: .25em .5em;
}

pre {
  display: block;
  margin: 0 0 1rem 0;
  padding: 1rem;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

/* Quotes */
blockquote {
  background-color: $light-grey;
  border-left: 3px solid $grey;
  margin: 0 0 1em 0;
  padding: .5rem 0 .5rem 1rem;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

img + em {
  display: block;
  font-size: .8rem;
  text-align: center;
  // because img tag has no margins, need to add margin because no <p> wrap
  margin-top: 1em 0;
}

.img-narrow {
  margin: auto;
  width: auto;
}

.img-right {
  margin-left: 0 0 1em 1em;
  width: 30%;
  float: right;
}

.img-left {
  margin-right: 0 1em 1em 0;
  width: 30%;
  float: left;
}

.img-circular {
  border-radius: 50%;
  shape-outside: circle();
  margin: 0 0 1em 1em;
}

/* Paragraph Alignment */
.center {
  text-align: center;
}

/* Tables */
table {
  border: 1px solid $grey;
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;
}

td,
th {
  border: 1px solid $grey;
  padding: .25rem .5rem;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $light-grey;
}

/*
* Header
*
* Small header above the content for site name and short description.
*/

header {
  border-bottom: 3px solid $grey;
  font-size: 1.2rem;
  margin: auto;
  text-align: center;
}

.nav-links {
  margin-bottom: 1rem;
  text-transform: lowercase;
}

.nav-links a {
  margin: 0 .2em;
}

@media (min-width: 600px) {
  .nav-links a {
    margin: 0 .5em;
  }
}

/*
* Posts and pages
*
* Each post is wrapped in 'article' and is used on default and post layouts.
* Each page is wrapped in `.page` and is only used on the page layout.
*/

.page,
article {
  margin-bottom: $large-spacing;
}

/* Meta data line below post title */
.post-metadata {
  color: $grey;
}

/* Divider between posts on the homepage*/
[role=separator] {
  border-top: 3px solid $grey;
  margin: $large-spacing 0;
  clear: both;
}

/* Footnote text that appears below each post on the homepage and on each article page.*/
.footnotes {
  border-top: 1px solid $grey;
  font-size: .8rem;
}

/*
* Footer
*/

footer {
  color: $grey;
  font-size: .8rem;
  margin: $large-spacing;
  text-align: center;
}

.footer-logo {
  width: 4rem;
  height: auto;
  margin: auto auto 1rem auto;
}

/*
* Pagination
*
* Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
* there are no more previous or next posts to show.
*/

.pagination a {
  display: block;
  float: left;
  height: auto;
  margin-bottom: $large-spacing;
  width: 50%;
}

.newer {
  text-align: right;
}

/*
* Responsive iFrame Embeds
*/

.responsive-container {
  height: 0;
  margin: 1em 0;
  overflow: hidden;
  padding-bottom: 35px 0 56.25% 0;
  position: relative;
}

.responsive-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top:0;
  width: 100%;
}
