---
---

/*
  this ensures Jekyll reads the file to be transformed into CSS later
  only Main files contain this front matter, not partials.
*/

/*
 * Contents
 *
 * Body resets
 * Custom type
 * Messages
 * Container
 * Masthead
 * Footer
 * Posts and pages
 * Pagination
 * Responsive iFrame Embeds
 * Bigfoot tooltip popovers
 */

@import url(http://fonts.googleapis.com/css?family=Lato:300,,300italic,400,400italic,700);

$red-orange: #BF1F49;
$green-matte: #94B288;
  //used as masthead background color
$zune-brown: #583B2B;
$light-grey: #c7c7c7;
//7a7a7a;

$small-spacing: 0.5rem;
$large-spacing: 2rem;
$page-width: 90vw;
$max-page-width: 750px;
$footer-height: 128px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 1.45;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -1*$footer-height;
  /* the bottom margin is the negative value of the footer's height */
}

.clear {
  clear: both;
  width: 100%;
}

footer, .push {
	height: $footer-height; /* '.push' must be the same height as 'footer' */
}

html, body {
	height: 100%;
}
@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: $red-orange;
  text-decoration: none;
}
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
 text-decoration: underline;
}



/*Permalink link styling*/

.permalink {
  border-bottom: none !important;
  color: $red-orange !important;
}

.permalink:hover,
.permalink:focus {
  color: $green-matte !important;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 2em;
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
   a {
    background-position: 0 1.375rem;
    background-size: 1px 1px;
  }
}
h1 {
  font-size: 1.75rem;
  margin-top: $large-spacing;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.5rem;
  font-style: italic;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: none;
  text-align: center;
  color: $light-grey;
}

hr:after {
  content: "❊ ❊ ❊";
  letter-spacing: 0.25em;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/* Quotes */
blockquote {
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin: 0;
  font-weight: 300;
  border-left: 4px solid $light-grey;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}


/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}


/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
  width: $page-width;
  max-width: $max-page-width;
  margin: auto;
}


/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  padding-top: $large-spacing;
  padding-bottom: $large-spacing;
  width: $page-width;
  max-width: $max-page-width;
  margin: auto;
  margin-bottom: $large-spacing;
}

.masthead-container {
  background-color: $green-matte;
}

.masthead a{
  transition: opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.masthead a:hover {
  opacity: 0.8;
  text-decoration: none;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: $small-spacing;
  font-weight: normal;
}

.masthead-title a {
  color: white;
}


.masthead-title small {
  font-size: 0.75em;
  color: black;
  letter-spacing: 0;
}

@media all and (max-width: 599px) {
  .masthead-title small {
    font-size: 0.7em;
    display: block;
  }
}

.nav-page a {
  margin-right: 1rem;
  color: $red-orange;
}



/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
  margin-bottom: $large-spacing;
}

/* Blog post or page title */
.post-title a {
  color: $red-orange;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-bottom: 1rem;
  color: $light-grey;
}

/* Divider between posts on the homepage*/
.divider {
  border-top: 4px solid $green-matte;
  margin-top: $large-spacing;
  margin-bottom: $large-spacing;
}

/* Related posts */
.related {
  padding-top: $large-spacing;
  padding-bottom: $large-spacing;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}

/* Footnote text that appears below each post*/

.footnotes {
  border-top: 1px solid $light-grey;
  font-size: 0.8rem;
}


/*
 * Footer
 *
 *
 */

.footer {
  color: $light-grey;
  text-align: center;
  margin: $large-spacing;
}

.footer-logo {
  width: 4rem;
  height: auto;
  margin: auto;
}

/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  color: $light-grey;
}

.pagination a{
  display: block;
  height: auto;
  margin-bottom: $large-spacing;
  float: left;
  width: 50%;
}

/* Pagination items can be `span`s or `a`s */
.newer {
  text-align: right;
}


/*
 * Responsive iFrame Embeds
 *
 *
 */

.responsive-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 0;
    overflow: hidden;
}

.responsive-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
 * Bigfoot tooltip popovers
 *
 *
 */


.footnote-container {
  display: inline-block;
  position: relative;
  text-indent: 0;
}

.footnote-button {
  position: relative;
  z-index: 5;
  top: -0.2em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  padding: 0.325em;
  margin: 0 0.1em 0 0.2em;
  height: 1em;
  width: 1em;
  border: none;
  border-radius: 0.6em;
  cursor: pointer;
  opacity: 0.3;
  background-color: #464646;
  -webkit-backface-visibility: hidden;
  line-height: 0;
  vertical-align: middle;
  text-decoration: none;
  font-smoothing: antialiased;
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.footnote-button:hover {
  opacity: 0.6;
}

.footnote-button:active {
  opacity: 0.6;
}

.footnote-button.active {
  opacity: 0.9;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.footnote-button:before {
  content: attr(data-footnote-number);
  position: absolute;
  bottom: 0.63em;
  left: 0;
  right: 0;
  display: block;
  font-size: 0.8em;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-style: normal;
  line-height: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
}

@media not print {
  .footnote-print-only {
    display: none !important;
  }
}

@media print {
  .footnote-button {
    display: none !important;
  }
}

.footnote-content {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 90%;
  margin: 1.81924em 0;
  display: inline-block;
  background: #fafafa;
  opacity: 0;
  border-radius: 0.5em;
  border: 1px solid #c3c3c3;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  line-height: 0;
  -webkit-transition: opacity, -webkit-transform;
  transition: opacity, transform;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.footnote-content:not(.fixed-bottom) {
  -webkit-transform: scale(0.1) translateZ(0);
  -ms-transform: scale(0.1) translateZ(0);
  transform: scale(0.1) translateZ(0);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.footnote-content.top {
  top: auto;
  bottom: 0.2em;
}

.footnote-content.active:not(.fixed-bottom) {
  -webkit-transform: scale(1) translateZ(0);
  -ms-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  opacity: 0.97;
}

.footnote-content.fixed-bottom {
  bottom: 0 !important;
  top: auto !important;
  left: 0 !important;
  width: 100%;
  max-width: 100%;
  margin: 0;
  -webkit-transform: translateY(105%);
  -ms-transform: translateY(105%);
  transform: translateY(105%);
  border-radius: 0;
  opacity: 1;
  -webkit-transition: -webkit-transform;
  transition: transform;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.footnote-content.fixed-bottom.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.footnote-content.fixed-bottom .footnote-main-wrapper {
  max-width: 90%;
  width: 22em;
  margin: 0 auto;
}

.footnote-content.fixed-bottom .bigfoot-tooltip {
  display: none;
}

.footnote-content.scrollable:after {
  content: '...';
  position: fixed;
  bottom: 0.45em;
  right: 50%;
  z-index: 20;
  width: 1.5em;
  margin-right: -0.75em;
  opacity: 1;
  background-color: #fafafa;
  font-family: Georgia;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  color: rgba(0, 0, 0, 0.08);
  line-height: 0;
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.footnote-content.scrollable.fully-scrolled:after {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.footnote-content.scrollable .footnote-main-wrapper:before,
.footnote-content.scrollable .footnote-main-wrapper:after {
  content: ' ';
  position: absolute;
  width: 100%;
  z-index: 12;
}

.footnote-content.scrollable .footnote-main-wrapper:before {
  top: -1px;
  left: 0;
  height: 1.1em;
  border-radius: 0.5em 0.5em 0 0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(50%, #fafafa), color-stop(100%, rgba(250, 250, 250, 0)));
  background: -webkit-linear-gradient(top, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background: linear, to bottom, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%;
}

.footnote-content.scrollable .footnote-main-wrapper:after {
  bottom: -1px;
  left: 0;
  height: 1.2em;
  border-radius: 0 0 0.5em 0.5em;
  background: #fafafa;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #fafafa), color-stop(50%, #fafafa), color-stop(100%, rgba(250, 250, 250, 0)));
  background: -webkit-linear-gradient(bottom, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background: linear, to top, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%;
}

.footnote-content ::-webkit-scrollbar {
  display: none;
}

.footnote-main-wrapper {
  position: relative;
  z-index: 14;
  width: 22em;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  background-color: #fafafa;
  border-radius: 0.5em;
  -webkit-transition: max-height;
  transition: max-height;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.footnote-content-wrapper {
  position: relative;
  z-index: 8;
  display: inline-block;
  max-height: 15em;
  padding: 1.1em 1.3em 1.2em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  border-radius: 0.5em;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.45;
}

.footnote-content-wrapper img {
  max-width: 100%;
}

.footnote-content-wrapper *:last-child {
  margin-bottom: 0;
}

.footnote-content-wrapper *:first-child {
  margin-top: 0;
}

.bigfoot-tooltip {
  position: absolute;
  z-index: 12;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-left: -0.65em;
  width: 1.3em;
  height: 1.3em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fafafa;
  border: 1px solid #c3c3c3;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0;
}

.bottom .bigfoot-tooltip {
  top: -0.65em;
  bottom: auto;
}

.top .bigfoot-tooltip {
  bottom: -0.65em;
  top: auto;
}
