---
sitemap:
exclude: 'yes'
---

/*
* Variables
* Contents
* Body resets
* Custom type
* Header
* Footer
* Posts and pages
* Responsive iFrame Embeds
* highlight.js Solarized Light
*/

/* Variables */

$red-orange: #bb1b49;
$grey: #808080;
$light-grey: #e9e9e9;
$text: rgba(0,0,0,.9);
$large-spacing: 2rem;
$page-width: 90vw;
$max-page-width: 700px;


/* Body resets */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Lato');


* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
  font: 110%/1.5 'EB Garamond', serif;
}

.wrapper {
  width: $page-width;
  max-width: $max-page-width;
}

html {
  color: $text;
}

header {
  font: 110%/1.5 'Lato', sans-serif;
}

header a {
  color: rgb(28, 28, 28);
  text-decoration: none;
}

@media (min-width: 600px) {
  html {
    font-size: 115%;
  }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
  margin: 1em 0 .8rem 0; // .8rem for baseline adjustment
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.3rem;
  font-style: italic;
}

h5,
h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 1em 0;
}

ul, ol, dl {
  margin: 1rem auto;
}

.grey {
  color: $grey;
}

blockquote {
  background-color: $light-grey;
  border-left: 3px solid $grey;
  margin: 0 0 1rem 0;
  padding: .5rem .5rem .5rem 1rem;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

hr {
  border: none;
  color: $grey;
  font-size: 1.5rem;
  line-height: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

hr:after {
  content: "· · ·";
  letter-spacing: .25em;
}

/* Header */

header {
  font-size: 1.2rem;
  margin: auto;
  padding: 25px 80px;
}

.nav-wrapper {
  display: table;
  width: 100%;
}

.nav-links {
  text-transform: uppercase;
  display: table-cell;
  width: 70%;
  text-align: right;
  font-size: 90%;
}

.site-title {
}

.nav-links a {
  margin-left: .5em;
}

@media (min-width: 600px) {
  .nav-links a {
    margin: 0 .5em;
  }
}

/* Footer */

footer {
  color: $grey;
  font-size: .8rem;
  margin: $large-spacing;
  text-align: center;
}

img {
  display: block;
  margin: auto auto 1rem auto;
  max-width: 100%;
}

img + em {
  display: block;
  font-size: .8rem;
  text-align: center;
  // because img tag has no margins, need to add margin because no <p> wrap
  margin: 1em 0;
}

.img-narrow {
  width: auto;
}

.img-right {
  margin: 0 0 1em 1em;
  width: 30%;
  float: right;
}

.img-left {
  margin: 0 1em 1em 0;
  width: 30%;
  float: left;
}

.img-circular {
  border-radius: 50%;
  shape-outside: circle();
  margin: 0 0 1em 1em;
}


/* Paragraph Alignment */
.center {
  text-align: center;
}

/* Tables */
table {
  border: 1px solid $grey;
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;
}

td,
th {
  border: 1px solid $grey;
  padding: .25rem .5rem;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $light-grey;
}


/* Responsive iFrame Embeds (e.g. Youtube) */

.responsive-container {
  height: 0;
  margin: 1em 0;
  overflow: hidden;
  padding: 35px 0 56.25% 0;
  position: relative;
}

.responsive-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top:0;
  width: 100%;
}
