---
sitemap:
exclude: 'yes'
---

/*
this ensures Jekyll reads the file to be transformed into CSS later
only Main files contain this front matter, not partials.
*/

/*
* Contents
* Body resets
* Custom type
* Messages
* Container
* Masthead
* Footer
* Posts and pages
* Pagination
* Responsive iFrame Embeds
* Syntax (Code)
* Bigfoot tooltip popovers
*/

$red-orange: #bb1b49;
$green-matte: #94b288;
$grey: #808080;
$light-grey: #f9f9f9;
$text: rgba(0,0,0,.9);

$small-spacing: 0.5rem;
$large-spacing: 2rem;
$page-width: 90vw;
$max-page-width: 700px;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

html {
  color: $text;
  font: 110%/1.5 Georgia, serif;
}

@media (min-width: 600px) {
  html {
    font-size: 115%;
  }
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: $red-orange;
  text-decoration: none;
}

a strong {
  color: inherit;
}

/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
  margin: 1em 0 .8rem 0; // .8rem for baseline adjustment
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.3rem;
  font-style: italic;
}

h5, h6 {
  font-size: 1rem;
}

/* Body text */
p {
  margin: 0 0 1em 0;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  border: none;
  color: $grey;
  margin-bottom: 1rem;
  text-align: center;
}

hr:after {
  content: "· · ·";
  letter-spacing: 0.25em;
}

/* Code */
code,
pre {
  font-family: Consolas, Monaco, monospace;
}

code {
  background-color: $light-grey;
  border-radius: 3px;
  color: #bf616a;
  padding: .25em .5em;
  font-size: .8rem;
}

pre {
  background-color: $light-grey;
  display: block;
  font-size: .8rem;
  line-height: 1.4;
  margin-top: 0 0 1rem 0;
  padding: 1rem;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

/* Quotes */
blockquote {
  background-color: $light-grey;
  border-left: 3px solid $grey;
  margin: 0 0 1em 0;
  padding: .5rem 0 .5rem 1rem;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

img + em {
  display: block;
  font-size: .8rem;
  text-align: center;
  // because img tag has no margins, need to add margin because no <p> wrap
  margin-top: 1em 0;
}

.img-narrow {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.img-right {
  margin-left: 0 0 1em 1em;
  width: 30%;
  float: right;
}

.img-left {
  margin-right: 0 1em 1em 0;
  width: 30%;
  float: left;
}

.img-circular {
  border-radius: 50%;
  shape-outside: circle();
  margin: 0 0 1em 1em;
}

/* Paragraph Alignment */
.center {
  text-align: center;
}

/* Tables */
table {
  border: 1px solid $grey;
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;
}

td,
th {
  border: 1px solid $grey;
  padding: .25rem .5rem;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $light-grey;
}

/*
* Container
*
* Center the page content.
*/

main {
  width: $page-width;
  max-width: $max-page-width;
  margin: auto;
}

/*
* Header
*
* Small header above the content for site name and short description.
*/

header {
  border-bottom: 3px solid $grey;
  font-size: 1.3rem;
  margin: 1rem auto auto auto;
  max-width: $max-page-width;
  text-align: center;
  width: $page-width;
}

.url {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.nav-links {
  margin-bottom: 1rem;
  text-transform: lowercase;
}

.nav-links a {
  margin: 0 .2em;
}

@media (min-width: 600px) {
  .nav-links a {
    margin: 0 .5em;
  }
}

/*
* Posts and pages
*
* Each post is wrapped in 'article' and is used on default and post layouts.
* Each page is wrapped in `.page` and is only used on the page layout.
*/

.page,
article {
  margin-bottom: $large-spacing;
}

/* Meta data line below post title */
.post-metadata {
  color: $grey;
}

/* Divider between posts on the homepage*/
[role=separator] {
  border-top: 3px solid $grey;
  margin: $large-spacing 0;
  clear: both;
}
/* Footnote text that appears below each post on the homepage and on each article page.*/
.footnotes {
  border-top: 1px solid $grey;
  font-size: .8rem;
  padding-top: 1em;
}

/*
* Footer
*/

footer {
  color: $grey;
  font-size: .8rem;
  margin: $large-spacing;
  text-align: center;
}
.footer-logo {
  width: 4rem;
  height: auto;
  margin: auto auto 1rem auto;
}

/*
* Pagination
*
* Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
* there are no more previous or next posts to show.
*/

.pagination a {
  display: block;
  float: left;
  height: auto;
  margin-bottom: $large-spacing;
  width: 50%;
}

/* Pagination items can be `span`s or `a`s */
.newer {
  text-align: right;
}

/*
* Responsive iFrame Embeds
*/

.responsive-container {
  height: 0;
  margin-top: 1em 0;
  overflow: hidden;
  padding-bottom: 35px 0 56.25% 0;
  position: relative;
}

.responsive-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top:0;
  width: 100%;
}

/*
* Syntax (Code)
*/

.highlight .hll { background-color: #ffc; }
.highlight .c { color: #999; } /* Comment */
.highlight .err { color: #a00; background-color: #faa } /* Error */
.highlight .k { color: #069; } /* Keyword */
.highlight .o { color: #555 } /* Operator */
.highlight .cm { color: #09f; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #099 } /* Comment.Preproc */
.highlight .c1 { color: #999; } /* Comment.Single */
.highlight .cs { color: #999; } /* Comment.Special */
.highlight .gd { background-color: #fcc; border: 1px solid #c00 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #f00 } /* Generic.Error */
.highlight .gh { color: #030; } /* Generic.Heading */
.highlight .gi { background-color: #cfc; border: 1px solid #0c0 } /* Generic.Inserted */
.highlight .go { color: #aaa } /* Generic.Output */
.highlight .gp { color: #009; } /* Generic.Prompt */
.highlight .gs { } /* Generic.Strong */
.highlight .gu { color: #030; } /* Generic.Subheading */
.highlight .gt { color: #9c6 } /* Generic.Traceback */
.highlight .kc { color: #069; } /* Keyword.Constant */
.highlight .kd { color: #069; } /* Keyword.Declaration */
.highlight .kn { color: #069; } /* Keyword.Namespace */
.highlight .kp { color: #069 } /* Keyword.Pseudo */
.highlight .kr { color: #069; } /* Keyword.Reserved */
.highlight .kt { color: #078; } /* Keyword.Type */
.highlight .m { color: #f60 } /* Literal.Number */
.highlight .s { color: #d44950 } /* Literal.String */
.highlight .na { color: #4f9fcf } /* Name.Attribute */
.highlight .nb { color: #366 } /* Name.Builtin */
.highlight .nc { color: #0a8; } /* Name.Class */
.highlight .no { color: #360 } /* Name.Constant */
.highlight .nd { color: #99f } /* Name.Decorator */
.highlight .ni { color: #999; } /* Name.Entity */
.highlight .ne { color: #c00; } /* Name.Exception */
.highlight .nf { color: #c0f } /* Name.Function */
.highlight .nl { color: #99f } /* Name.Label */
.highlight .nn { color: #0cf; } /* Name.Namespace */
.highlight .nt { color: #2f6f9f; } /* Name.Tag */
.highlight .nv { color: #033 } /* Name.Variable */
.highlight .ow { color: #000; } /* Operator.Word */
.highlight .w { color: #bbb } /* Text.Whitespace */
.highlight .mf { color: #f60 } /* Literal.Number.Float */
.highlight .mh { color: #f60 } /* Literal.Number.Hex */
.highlight .mi { color: #f60 } /* Literal.Number.Integer */
.highlight .mo { color: #f60 } /* Literal.Number.Oct */
.highlight .sb { color: #c30 } /* Literal.String.Backtick */
.highlight .sc { color: #c30 } /* Literal.String.Char */
.highlight .sd { color: #c30; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #c30 } /* Literal.String.Double */
.highlight .se { color: #c30; } /* Literal.String.Escape */
.highlight .sh { color: #c30 } /* Literal.String.Heredoc */
.highlight .si { color: #a00 } /* Literal.String.Interpol */
.highlight .sx { color: #c30 } /* Literal.String.Other */
.highlight .sr { color: #3aa } /* Literal.String.Regex */
.highlight .s1 { color: #c30 } /* Literal.String.Single */
.highlight .ss { color: #fc3 } /* Literal.String.Symbol */
.highlight .bp { color: #366 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #033 } /* Name.Variable.Class */
.highlight .vg { color: #033 } /* Name.Variable.Global */
.highlight .vi { color: #033 } /* Name.Variable.Instance */
.highlight .il { color: #f60 } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }
