---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article>
    <h1>
      {% if post.link %}
      <a href="{{ post.link }}">
        ⇜ {{ post.title }} ⇝
      </a>
      {% else %}
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
      {% endif %}
    </h1>

    {% include post_metadata.html some_parameter="post" %}
    {{ post.content }}
  </article>
  <div role="separator"></div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">← Older Stuff</a>
  {% else %}
  <a class="pagination-item filler"></a>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ site.baseurl }}">Newer Stuff →</a>
  {% else %}
  <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer Stuff →</a>
  {% endif %}
  {% else %}
  <a class="pagination-item filler"></a>
  {% endif %}
  <div class="clear"></div>
</div>
