---
---

/*
  this ensures Jekyll reads the file to be transformed into CSS later
  only Main files contain this front matter, not partials.
*/

/*
 * Contents
 *
 * Body resets
 * Custom type
 * Messages
 * Container
 * Masthead
 * Footer
 * Posts and pages
 * Pagination
 * Reverse layout
 * Themes
 * Bigfoot tooltip popovers
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700);

$red-orange: #BF1F49;
$off-white: #dddddd;
  //used as masthead background color
$green-matte: #94B288;
$green-blue: #005C59;
$zune-brown: #583B2B;
$masthead-height: 95px;
$light-grey: #7a7a7a;


* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

html {
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 1.45;
}
@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: $red-orange;
  text-decoration: none;
}
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: none;
  text-align: center;
  color: $light-grey;
}

hr:after {
  content: "❄ ❄ ❄";
  letter-spacing: 0.25em;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}


/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}


/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
  width: 92vw;
  max-width: 750px;
  margin: auto;
}


/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 92vw;
  max-width: 750px;
  margin: auto;
  margin-bottom: 2rem;
}

.masthead-container {
  background-color: $green-blue;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}
.masthead-title a {
  color: white;
}

.masthead-title small {
  font-size: 0.75em;
  color: black;
  letter-spacing: 0;
}

.nav-page a {
  margin-right: 1rem;
  color: white;
}

.nav-page a:hover {
  opacity: 0.8;
  text-decoration: none;
}




/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
  margin-bottom: 4em;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: black;
}

.page-title a:hover,
.post-title a:hover {
  border-bottom: 2px solid $green-matte;
  text-decoration: none;
}

.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.3rem;
  margin-bottom: 1rem;
  color: $light-grey;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}


/*
 * Footer
 *
 *
 */

.footer {
  background-color: $light-grey;
  color: white;
  text-align: center;
  padding: 1rem;
}

.footer-logo {
  width: 4rem;
  height: auto;
  margin: auto;
}

/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius:    4px;
    border-bottom-left-radius: 4px;
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius:    4px;
    border-bottom-right-radius: 4px;
  }
}


/*
 * Bigfoot tooltip popovers
 *
 *
 */


.footnote-container {
  display: inline-block;
  position: relative;
  text-indent: 0;
}

.footnote-button {
  position: relative;
  z-index: 5;
  top: -0.15em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  padding: 0.34em;
  margin: 0 0.1em 0 0.2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  opacity: 0.3;
  background-color: #464646;
  -webkit-backface-visibility: hidden;
  line-height: 0;
  vertical-align: middle;
  text-decoration: none;
  font-smoothing: antialiased;
  -webkit-transition: opacity;
  -moz-transition: opacity;
  -ms-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.footnote-button:hover {
  opacity: 0.6;
}
.footnote-button:active {
  opacity: 0.6;
}
.footnote-button.active {
  opacity: 0.9;
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.footnote-circle {
  display: inline-block;
  width: 0.32em;
  height: 0.32em;
  margin-right: 0.224em;
  border-radius: 100%;
  background-color: #e6e6e6;
  border: none;
}
.footnote-circle:last-child {
  margin-right: 0;
}

@media not print {
  .footnote-print-only {
    display: none !important;
  }
}
@media print {
  .footnote-button {
    display: none !important;
  }
}
.footnote-content {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 90%;
  margin: 1.81924em 0;
  display: inline-block;
  background: #fafafa;
  opacity: 0;
  border-radius: 0.5em;
  //border: 1px solid #c3c3c3; comment
  border: 3px solid $zune-brown;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  line-height: 0;
  -webkit-transition: opacity, -webkit-transform;
  -moz-transition: opacity, -moz-transform;
  -ms-transition: opacity, -ms-transform;
  transition: opacity, transform;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.footnote-content:not(.fixed-bottom) {
  -webkit-transform: scale(0.1) translateZ(0);
  -moz-transform: scale(0.1) translateZ(0);
  -ms-transform: scale(0.1) translateZ(0);
  -o-transform: scale(0.1) translateZ(0);
  transform: scale(0.1) translateZ(0);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.footnote-content.top {
  top: auto;
  bottom: 0.2em;
}
.footnote-content.active:not(.fixed-bottom) {
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  -ms-transform: scale(1) translateZ(0);
  -o-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  opacity: 0.97;
}
.footnote-content.fixed-bottom {
  bottom: 0 !important;
  top: auto !important;
  left: 0 !important;
  width: 100%;
  max-width: 100%;
  margin: 0;
  -webkit-transform: translateY(105%);
  -moz-transform: translateY(105%);
  -ms-transform: translateY(105%);
  -o-transform: translateY(105%);
  transform: translateY(105%);
  border-radius: 0;
  opacity: 1;
  -webkit-transition: -webkit-transform;
  -moz-transition: -moz-transform;
  -ms-transition: -ms-transform;
  transition: transform;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.footnote-content.fixed-bottom.active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.footnote-content.fixed-bottom .footnote-main-wrapper {
  max-width: 90%;
  width: 22em;
  margin: 0 auto;
}
.footnote-content.fixed-bottom .bigfoot-tooltip {
  display: none;
}
.footnote-content.scrollable:after {
  content: '...';
  position: fixed;
  bottom: 0.45em;
  right: 50%;
  z-index: 20;
  width: 1.5em;
  margin-right: -0.75em;
  opacity: 1;
  background-color: #fafafa;
  font-family: Georgia;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  color: rgba(0, 0, 0, 0.08);
  line-height: 0;
  -webkit-transition: opacity;
  -moz-transition: opacity;
  -ms-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.footnote-content.scrollable.fully-scrolled:after {
  opacity: 0;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
.footnote-content.scrollable .footnote-main-wrapper:before, .footnote-content.scrollable .footnote-main-wrapper:after {
  content: ' ';
  position: absolute;
  width: 100%;
  z-index: 12;
}
.footnote-content.scrollable .footnote-main-wrapper:before {
  top: -1px;
  left: 0;
  height: 1.1em;
  border-radius: 0.5em 0.5em 0 0;
  background: #fafafa;
  background: -moz-linear-gradient(top, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(50%, #fafafa), color-stop(100%, rgba(250, 250, 250, 0)));
  background: -webkit-linear-gradient(top, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background: linear, to bottom, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%;
}
.footnote-content.scrollable .footnote-main-wrapper:after {
  bottom: -1px;
  left: 0;
  height: 1.2em;
  border-radius: 0 0 0.5em 0.5em;
  background: #fafafa;
  background: -moz-linear-gradient(bottom, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #fafafa), color-stop(50%, #fafafa), color-stop(100%, rgba(250, 250, 250, 0)));
  background: -webkit-linear-gradient(bottom, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background: -o-linear-gradient(bottom, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background: -ms-linear-gradient(bottom, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background: linear, to top, #fafafa 0%, #fafafa 50%, rgba(250, 250, 250, 0) 100%;
}
.footnote-content ::-webkit-scrollbar {
  display: none;
}

.footnote-main-wrapper {
  position: relative;
  z-index: 14;
  width: 22em;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  background-color: #fafafa;
  border-radius: 0.5em;
  -webkit-transition: max-height;
  -moz-transition: max-height;
  -ms-transition: max-height;
  transition: max-height;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.footnote-content-wrapper {
  position: relative;
  z-index: 8;
  display: inline-block;
  max-height: 15em;
  padding: 1.1em 1.3em 1.2em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  border-radius: 0.5em;
  -webkit-font-smoothing: subpixel-antialiased;
}
.footnote-content-wrapper img {
  max-width: 100%;
}
.footnote-content-wrapper *:last-child {
  margin-bottom: 0;
}
.footnote-content-wrapper *:first-child {
  margin-top: 0;
}

.bigfoot-tooltip {
  position: absolute;
  z-index: 12;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-left: -0.65em;
  width: 1.3em;
  height: 1.3em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fafafa;
  border: 3px solid $zune-brown;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0;
}

.bottom .bigfoot-tooltip {
  top: -0.65em;
  bottom: auto;
}

.top .bigfoot-tooltip {
  bottom: -0.65em;
  top: auto;
}
