<!-- Accomodations -->
<section id="accomodations">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-1 text-center">
        <h2>Accomodations</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p class="lead">Please book your hotels as soon as possible because there are many events this weekend.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-5 col-md-offset-1">
        <h3>Hilton Madison Monona Terrace </h3>
        <p class="lead">
          Group rate: $169 (2 night minimum)<br>
          Must book by July 5th, 2017<br>
          <p>
            <p>
              9 E Wilson St.<br>
              Madison, WI 53703 <br>
              (608) 255-5100
            </p>
            <a  href="http://www.hilton.com/en/hi/groups/personalized/M/MSNMHHF-CLW-20170804/index.jhtml?WT.mc_id=POG" type="button" class="btn btn-default" target="_blank">
              View
            </a>
          </p>
        </p>
      </div>

      <div class="col-md-5">
        <h3>Hotel #2</h3>
        <p class="lead">
          Group rate: $169 (2 night minimum)<br>
          Must book by July 5th, 2017<br>
          <p>
            <p>
              9 E Wilson St.<br>
              Madison, WI 53703 <br>
              (608) 255-5100
            </p>
            <a  href="http://www.hilton.com/en/hi/groups/personalized/M/MSNMHHF-CLW-20170804/index.jhtml?WT.mc_id=POG" type="button" class="btn btn-default" target="_blank">
              View
            </a>
          </p>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h3>Hotel #3</h3>
        <p class="lead">
          Group rate: $169 (2 night minimum)<br>
          Must book by July 5th, 2017<br>
          <p>
            <p>
              9 E Wilson St.<br>
              Madison, WI 53703 <br>
              (608) 255-5100
            </p>
            <a  href="http://www.hilton.com/en/hi/groups/personalized/M/MSNMHHF-CLW-20170804/index.jhtml?WT.mc_id=POG" type="button" class="btn btn-default" target="_blank">
              View
            </a>
          </p>
        </p>
      </div>

      <div class="col-md-5">
        <h3>Hotel #4</h3>
        <p class="lead">
          Group rate: $169 (2 night minimum)<br>
          Must book by July 5th, 2017<br>
          <p>
            <p>
              9 E Wilson St.<br>
              Madison, WI 53703 <br>
              (608) 255-5100
            </p>
            <a  href="http://www.hilton.com/en/hi/groups/personalized/M/MSNMHHF-CLW-20170804/index.jhtml?WT.mc_id=POG" type="button" class="btn btn-default" target="_blank">
              View
            </a>
          </p>
        </p>
      </div>
    </div>
  </div>
</section>
