<!-- Accomodations -->
<section id="accomodations">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-1 text-center">
        <h2>Accomodations</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p class="lead">Please book your hotels as soon as possible because there are many events this weekend.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-md-offset 2">
        <h3>Hilton Madison Monona Terrace </h3>
        <p class="lead">
          Sugarland Barn <br>
          8637 Linley Rd. <br>
          Arena, WI 53503 <br>
          <p>
            <a href="http://www.hilton.com/en/hi/groups/personalized/M/MSNMHHF-CLW-20170804/index.jhtml?WT.mc_id=POG" type="button" class="btn btn-default">
              View
            </a>
          </p>
        </p>
      </div>
    </div>
  </div>
</section>
