<!-- Accomodations -->
<section class="secondary" id="accomodations">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 mb-1">
        <h2>Accomodations</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-6 col-lg-offset-3">
        <p class="lead">Please book your hotels as soon as possible because there are many events this weekend.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-6">
        <div class="bordered">
          <h3>Hilton Madison Monona Terrace </h3>
          <p class="lead">
            Group rate: $169 (2 night minimum)<br>
            Must book by July 5th, 2017<br>
          </p>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-1 text-right">
              <a  href="http://www.hilton.com/en/hi/groups/personalized/M/MSNMHHF-CLW-20170804/index.jhtml?WT.mc_id=POG" type="button" class="btn btn-outline" target="_blank">{{ site.labels.button-book-hotel }}
              </a>
            </div>
            <div class="col-xs-7 text-left">
              <p>
                9 E. Wilson St.<br>Madison, WI 53703<br>(608) 255-5100
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="bordered">
          <h3>Doubletree by Hilton Hotel Madison</h3>
          <p class="lead">
            Group rate: $179<br>
            Must book by July 5th, 2017<br>
          </p>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-1 text-right">
              <a  href="http://doubletree.hilton.com/en/dt/groups/personalized/M/MSNDTDT-CLW-20170804/index.jhtml" type="button" class="btn btn-outline" target="_blank">{{ site.labels.button-book-hotel }}
              </a>
            </div>
            <div class="col-xs-7 text-left">
              <p>
                525 W. Johnson St.<br>
                Madison, WI 53703<br>
                (608) 251-5511
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="row text-center">
      <div class="col-sm-6">
        <div class="bordered">
          <h3>Sheraton Madison Hotel</h3>
          <p class="lead">
            Group rate: $119<br>Must book by July 1st, 2017<br>
          </p>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-1 text-right">
              <a href="https://www.starwoodmeeting.com/events/start.action?id=1611294668&key=111E6D0A" type="button" class="btn btn-outline" target="_blank">{{ site.labels.button-book-hotel }}
              </a>
            </div>
            <div class="col-xs-7 text-left">
              <p>
                706 John Nolen Dr.<br>Madison, WI 53713 <br>(608) 251-2300
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="bordered">
          <h3>The Edgewater</h3>
          <p class="lead">
            Group rate: $289<br>Must book by June 21st, 2017<br>
          </p>

          <div class="row">
            <div class="col-xs-4 col-xs-offset-1 text-right">
              <a href="http://edgewater.webhotel.microsdc.us/bp/search_rooms.jsp?checkinDay=4&checkinMonth=8&checkinYear=2017&checkoutDay=6&checkoutMonth=8&checkoutYear=2017&groupCode=GPC080417" type="button" class="btn btn-outline" target="_blank">{{ site.labels.button-book-hotel }}
              </a>
            </div>
            <div class="col-xs-7 text-left">
              <p>
                1001 Wisconsin Place<br>Madison, WI 53703<br>(800) 922-5512
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="col-sm-6">
        <div class="bordered">
          <h3>AC Hotel by Marriott Madison</h3>
          <p class="lead">
            Group rate: $239<br>Must book by June 5th, 2017<br>
          </p>

          <div class="row">
            <div class="col-xs-4 col-xs-offset-1 text-right">
              <a href="#" type="button" class="btn btn-outline" target="_blank">{{ site.labels.button-book-hotel }}
              </a>
            </div>
            <div class="col-xs-7 text-left">
              <p>
                1 N. Webster St.<br>Madison, WI 53703<br>(608) 255-5100
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="bordered">
          <h3>Courtyard by Marriott Madison West/Middleton</h3>
          <p class="lead">
            Group Rate: $159<br>Book by June 20th, 2017<br>
          </p>

          <div class="row">
            <div class="col-xs-4 col-xs-offset-1 text-right">
              <a  href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Chen%20%26%20Lombardi%20Wedding%5EMSNCW%60CHECHEA%60159.00%60USD%60false%603%608/4/17%608/6/17%606/20/17&app=resvlink&stop_mobi=yes" type="button" class="btn btn-outline" target="_blank">{{ site.labels.button-book-hotel }}
              </a>
            </div>
            <div class="col-xs-7 text-left">
              <p>
                2266 Deming Way<br>Middleton, WI 53562<br>(608) 203-0100
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
