<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="carousel">
          <div class="img-responsive"><img  src="img/slider/PeggyJoe_0012.jpg"></div>
          <div class="img-responsive"><img  src="img/slider/PeggyJoe_0071.jpg"></div>
          <div class="img-responsive"><img  src="img/slider/PeggyJoe_0091.jpg"></div>
          <div class="img-responsive"><img  src="img/slider/PeggyJoe_0101.jpg"></div>
          <div class="img-responsive"><img  src="img/slider/PeggyJoe_0131.jpg"></div>
        </div>
      </div>

      <div class="intro-text">
        <span class="name">{{ site.title }}</span>
        <hr class="star-light">
      </div>
    </div>
  </div>
</div>
</header>
