 <!-- jQuery Version 3.1.1 -->
 <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>

<script type="text/javascript" src="http://peggyandjoe.com/slick/slick.min.js"></script>
<script type="text/javascript">
   $(document).ready(function(){
     $('.carousel').slick({
       adaptiveHeight: true,
       infinite: true,
       speed: 700,
       fade: true,
       cssEase: 'ease',
       autoplay: true,
       autoplaySpeed: 5000,
       arrows: true,
       dots: true,
     });
   });
 </script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" }}"></script>
<script src="{{ "/js/classie.js" }}"></script>
<script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/freelancer.js" }}"></script>
