<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" }}"></script>

<!-- Smooth scroll -->
<script src="/js/smooth-scroll.js"></script>

<!-- Slick carousel -->
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script type="text/javascript" src="/js/initialize.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/classie.js" }}"></script>
<script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ "/js/jqBootstrapValidation.js" }}"></script>
{% if site.contact == "static" %}
<script src="{{ "/js/contact_me_static.js" }}"></script>
{% else %}
<script src="{{ "/js/contact_me.js" }}"></script>
{% endif %}

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/freelancer.js" }}"></script>

<!-- Initialize Smooth Scroll -->
<script>
    smoothScroll.init();
</script>
