<!-- Photo Grid -->
<section class="dark-grey" id="photo-grid">
  <div class="container">
    <div class="demo-gallery">
      <ul id="lightgallery" class="list-unstyled row">
        <li class="col-xs-6 col-sm-4 col-md-3">
          <a href="img/grid/PeggyJoe_0001.jpg">
            <img class="img-responsive" src="img/grid/thumbnails/PeggyJoe_0001.jpg">
          </a>
        </li>
        <li class="col-xs-6 col-sm-4 col-md-3">
          <a href="img/grid/PeggyJoe_0001.jpg">
            <img class="img-responsive" src="img/grid/thumbnails/PeggyJoe_0001.jpg">
          </a>
        </li>
      </ul>
    </div>


    <div id="gallery">
      <h2>Gallery title</h3>
        <div class="item" data-src="img/grid/PeggyJoe_0001.jpg">
          <img src="img/grid/thumbnails/PeggyJoe_0001.jpg" />
        </div>
        <div class="item" data-src="img/grid/PeggyJoe_0001.jpg">
          <img src="img/grid/thumbnails/PeggyJoe_0001.jpg" />
        </div>
      </div>
    </div>
</section>
