<!-- Photo Grid -->
<section class="dark-grey" id="photo-grid">
  <div class="container">
    <ul id="photo-grid" class="list-unstyled row">

      <li class="col-xs-6 col-sm-4 col-md-3" data-src="img/grid/PeggyJoe_0001.jpg">
        <img src="img/grid/thumbnails/PeggyJoe_0001.jpg" />
      </li>
      <li class="col-xs-6 col-sm-4 col-md-3" data-src="img/grid/PeggyJoe_0001.jpg">
        <img src="img/grid/thumbnails/PeggyJoe_0001.jpg" />
      </li>
      <li class="col-xs-6 col-sm-4 col-md-3" data-src="img/grid/PeggyJoe_0001.jpg">
        <img src="img/grid/thumbnails/PeggyJoe_0001.jpg" />
      </li>
      <li class="col-xs-6 col-sm-4 col-md-3" data-src="img/grid/PeggyJoe_0001.jpg">
        <img src="img/grid/thumbnails/PeggyJoe_0001.jpg" />
      </li>
      <li class="col-xs-6 col-sm-4 col-md-3" data-src="img/grid/PeggyJoe_0001.jpg">
        <img src="img/grid/thumbnails/PeggyJoe_0001.jpg" />
      </li>
      <li class="col-xs-6 col-sm-4 col-md-3" data-src="img/grid/PeggyJoe_0001.jpg">
        <img src="img/grid/thumbnails/PeggyJoe_0001.jpg" />
      </li>
      <li class="col-xs-6 col-sm-4 col-md-3" data-src="img/grid/PeggyJoe_0001.jpg">
        <img src="img/grid/thumbnails/PeggyJoe_0001.jpg" />
      </li>
    </ul>
</section>
