<!-- Photo Grid -->
<section class="dark-grey" id="photo-grid">
  <div class="container">
    <div class="demo-gallery">
      <ul id="lightgallery" class="list-unstyled row">
        <li class="col-xs-6 col-sm-4 col-md-3">
          <a href="img/grid/PeggyJoe_0001.jpg">
            <img class="img-responsive" src="img/grid/thumbnails/PeggyJoe_0001.jpg">
          </a>
        </li>
        <li class="col-xs-6 col-sm-4 col-md-3">
          <a href="img/grid/PeggyJoe_0001.jpg">
            <img class="img-responsive" src="img/grid/thumbnails/PeggyJoe_0001.jpg">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
