<!-- Wedding Registry -->
<section id="registry">
  <div class="container">
    <div class="mb-75 text-center">
      <h2>Registry</h2>
      <hr>
    </div>

    <div class="row text-center">
      <p class="lead">We are registered at Amazon, Williams-Sonoma, and Macys.</p>
      <div class="col-sm-4"><a href="https://www.amazon.com/wedding/peggy-chen-joseph-lombardi-madison-august-2017/registry/WRREDU6OAA7Z" target="_blank"><img class="img-responsive" src="img/registry/az.png"><br></a>
        <a class="btn btn-primary" target="_blank" href="https://www.amazon.com/wedding/peggy-chen-joseph-lombardi-madison-august-2017/registry/WRREDU6OAA7Z">{{ site.labels.registry }}
        </a>
      </div>

      <div class="col-sm-4"><a href="https://secure.williams-sonoma.com/registry/tzgtbz8p95/registry-list.html" target="_blank"><img class="img-responsive" src="img/registry/ws.png"><br></a>
        <a class="btn btn-primary" target="_blank" href="https://secure.williams-sonoma.com/registry/tzgtbz8p95/registry-list.html">{{ site.labels.registry }}
        </a>
      </div>

      <div class="col-sm-4"><a href="https://www.macys.com/wgl/registry/guest/6713210" target="_blank"><img class="img-responsive" src="img/registry/macys.png"><br></a>
        <a class="btn btn-primary" target="_blank" href="https://www.macys.com/wgl/registry/guest/6713210">{{ site.labels.registry }}
        </a>
      </div>
    </div>
  </div>
</section>
