<!-- Wedding Registry -->
<section id="registry">
  <div class="container">
    <div class="col-lg-12 heading text-center">
      <h2>Registry</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-6"><a href="https://www.amazon.com/wedding/peggy-chen-joseph-lombardi-madison-august-2017/registry/WRREDU6OAA7Z" target="_blank"><div class="img-responsive img-registry img-registry-left"><img  src="img/registry/amazon-black.png"></div></div></a>
      <div class="col-xs-6"><a href="https://secure.williams-sonoma.com/registry/tzgtbz8p95/registry-list.html" target="_blank"><div class="img-responsive img-registry img-registry-right"><img  src="img/registry/williams-sonoma-stacked.png"></div></div></a>
    </div>
  </div>
</section>
