<!-- Accomodations -->
<section class="off-white" id="things-to-do">
  <div class="container">
    <div class="mb-75">
      <h2 class="text-center">Things To Do</h2>
      <hr>
    </div>

    {% for place in site.data.things_to_do %}
    <div class="row mb-1">
      <div class="col-sm-3 col-sm-offset-1">
        <div class="img-responsive"><img  src="{{ place.img }}"></div>
      </div>
      <div class="col-sm-7">
        <h3>{{ place.name }}</h3>
        <p>{{ place.description }}</p>

        <div class="row">
          <div class="col-xs-12">
            <a href="{{ place.url }}" type="button" class="btn btn-default" target="_blank">See more!
            </a>
            <a class="btn btn-default" target="_blank" href="{{ place.directions }}">{{ site.labels.directions }}
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
