<!-- Accomodations -->
<section class="off-white" id="things-to-do">
  <div class="container">

    <div class="mb-75 text-center">
      <h2>Things To Do</h2>
      <hr>
    </div>

    <div class="row mb-1">
      <div class="col-sm-3 col-sm-offset-1">
        <div class="img-responsive"><img  src="img/farmers-market.jpg"></div>
      </div>
      <div class="col-sm-7">
        <h3>Dane County Farmers Market</h3>
        <p>We love the farmers market! It runs every Saturday morning around the Capitol Square. Make sure you check out the fresh, squeaky cheese curds, Stella’s hot cheesy bread, and all the other local vendors.</p>

        <div class="row">
          <div class="col-xs-12">
            <a href="http://dcfm.org/" type="button" class="btn btn-default" target="_blank">See more!
            </a>
            <a class="btn btn-default" target="_blank" href="https://www.google.com/maps/dir/''/dane+county+farmers+market/data=!4m5!4m4!1m0!1m2!1m1!1s0x88065338b3ffffff:0x3a7249a1a244b004?sa=X&ved=0ahUKEwjGqtTH6ZrRAhXL64MKHXP5Ah4Q9RcIeTAO">
              <i class="fa fa-map-marker"></i> {{ site.labels.directions }}
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="row mb-1">
      <div class="col-sm-3 col-sm-offset-1">
        <div class="img-responsive"><img src="img/terrace.jpg"></div>
      </div>
      <div class="col-sm-7">
        <h3>Memorial Union</h3>
        <p>Great place to enjoy a beer and ice cream while sitting on the iconic Terrace Chairs overlooking Lake Mendota.</p>
        <div class="row">
          <div class="col-xs-12">
            <a href="https://union.wisc.edu/visit/memorial-union/" type="button" class="btn btn-default" target="_blank">See more!
            </a>
            <a class="btn btn-default" target="_blank" href="https://www.google.com/maps/dir/''/memorial+union/data=!4m5!4m4!1m0!1m2!1m1!1s0x8807accaa0165ae1:0x4001e911ad143b35?sa=X&ved=0ahUKEwiS28my6ZrRAhVn9YMKHexZAOcQ9RcIhQEwCw">
              <i class="fa fa-map-marker"></i> Get directions
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="row mb-1">
      <div class="col-sm-3 col-sm-offset-1">
        <div class="img-responsive"><img src="img/olbrich.jpg"></div>
      </div>
      <div class="col-sm-7">
        <h3>Olbrich Botanical Gardens</h3>
        <p></p>
        <div class="row">
          <div class="col-xs-12">
            <a href="http://www.olbrich.org/" type="button" class="btn btn-default" target="_blank">See more!
            </a>

            <a class="btn btn-default" target="_blank" href="https://www.google.com/maps/dir/''/olbrich+botanical+gardens/data=!4m5!4m4!1m0!1m2!1m1!1s0x880653f7b311b2bd:0x8ab1c3dc47736087?sa=X&ved=0ahUKEwjH14ST5JrRAhULwYMKHSdID5QQ9RcIgAEwEg">
              <i class="fa fa-map-marker"></i> {{ site.labels.directions }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
