<!-- Accomodations -->
<section id="travel-and-transportation">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 mb-1">
        <h2>Travel and Transportation</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-3">
            <h3>✈️ Airport ✈️</h3>
          </div>
          <div class="col-sm-9">
            <p>There are a couple of options for guests that will be flying to our wedding. The closest and most convenient airport is to fly into Madison (MSN). Guests can also fly into Milwaukee (MKE) or Chicago (ORD) and rent a car and drive.</p>

            <p>MSN: Fly straight into Madison. Most of our hotel blocks provide a free shuttle to and from the MSN airport. Please inquire when booking otherwise, it is a quick Uber ride from the airport to the hotel.</p>

            <p>MKE: Fly into Milwaukee and the drive time is approximately 1hour 30 minutes.</p>

            <p>ORD: Fly into Chicago and the drive time is approximately 2 hours 30 minutes.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>
          For guests staying in the downtown Madison hotels, shuttle transportation will be provided between the hotel and wedding venue on the day of the wedding
        </p>
      </div>
    </div>
  </div>
</section>
