<!-- Travel -->
<section class="secondary" id="travel">
  <div class="container">
    <div class="col-lg-12 mb-75 text-center">
      <h2>Travel</h2>
      <hr>
    </div>
    <div class="row text-center mb-50">
      <div class="col-xs-12">
        <h2>✈️ Airport ✈️</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <p>There are a couple of options for guests that will be flying to our wedding. The closest and most convenient airport to fly into is Madison (MSN).  Most of our hotel blocks provide a free shuttle to and from the MSN airport. Please inquire when booking. Otherwise, it is a quick Uber ride from the airport to the hotel. Guests can also fly into Milwaukee (MKE) or Chicago (ORD) and rent a car and drive. The drive from MKE to Madison is about 1 hour 30 minutes and the drive from ORD to Madison is about 2 hours 30 minutes.</p>

            <p>For guests staying in the downtown Madison hotels, shuttle transportation will be provided between the hotel and wedding venue on the day of the wedding.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center mt-75 mb-50">
      <div class="col-xs-12">
        <h2>Accomodations</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-12">
        <p class="lead">Please book your hotels as soon as possible because there are many events this weekend.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-6">
        <div class="bordered">
          <h3>Hilton Madison Monona Terrace<br><small>{{site.icons.star}}{{site.icons.star}}{{site.icons.star}}{{site.icons.star}}</small></h3>
          <p>Group rate: $169 (2 night minimum)<br>{{ site.labels.book-by }} July 4<sup>th</sup>, 2017<br></p>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-1 text-right">
              <a  href="http://www.hilton.com/en/hi/groups/personalized/M/MSNMHHF-CLW-20170804/index.jhtml?WT.mc_id=POG" type="button" class="btn btn-outline" target="_blank">{{ site.labels.button-book-hotel }}
              </a>
            </div>
            <div class="col-xs-7 text-left">
              <p>
                9 E. Wilson St.<br>Madison, WI 53703<br>(608) 255-5100
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="bordered">
          <h3>Doubletree by Hilton Hotel Madison<br><small>{{site.icons.star}}{{site.icons.star}}{{site.icons.star}}{{site.icons.star-half}}</small></h3>
          <p>Group rate: $179<br>{{ site.labels.book-by }} July 5<sup>th</sup>, 2017<br></p>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-1 text-right">
              <a  href="http://doubletree.hilton.com/en/dt/groups/personalized/M/MSNDTDT-CLW-20170804/index.jhtml" type="button" class="btn btn-outline" target="_blank">{{ site.labels.button-book-hotel }}
              </a>
            </div>
            <div class="col-xs-7 text-left">
              <p>525 W. Johnson St.<br>Madison, WI 53703<br>(608) 251-5511</p>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="row text-center">
        <div class="col-sm-6">
          <div class="bordered">
            <h3>AC Hotel by Marriott Madison<br><small>{{site.icons.star}}{{site.icons.star}}{{site.icons.star}}{{site.icons.star-half}}</small></h3>
            <p>Group rate: $239<br>{{ site.labels.book-by }} June 4<sup>th</sup>, 2017<br></p>
            <div class="row">
              <div class="col-xs-4 col-xs-offset-1 text-right">
                <a href="http://cwp.marriott.com/msnac/chenlombardiwedding" type="button" class="btn btn-outline" target="_blank">{{ site.labels.button-book-hotel }}
                </a>
              </div>
              <div class="col-xs-7 text-left">
                <p>1 N. Webster St.<br>Madison, WI 53703<br>(608) 255-5100</p>
              </div>
            </div>
          </div>
        </div>

      <div class="col-sm-6">
        <div class="bordered">
          <h3>The Edgewater<br><small>{{site.icons.star}}{{site.icons.star}}{{site.icons.star}}{{site.icons.star}}{{site.icons.star-half}}</small></h3>
          <p>Group rate: $289<br>{{ site.labels.book-by }} June 21<sup>st</sup>, 2017<br></p>

          <div class="row">
            <div class="col-xs-4 col-xs-offset-1 text-right">
              <a href="http://edgewater.webhotel.microsdc.us/bp/search_rooms.jsp?checkinDay=4&checkinMonth=8&checkinYear=2017&checkoutDay=6&checkoutMonth=8&checkoutYear=2017&groupCode=GPC080417" type="button" class="btn btn-outline" target="_blank">{{ site.labels.button-book-hotel }}
              </a>
            </div>
            <div class="col-xs-7 text-left">
              <p>1001 Wisconsin Pl.<br>Madison, WI 53703<br>(800) 922-5512</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-6">
        <div class="bordered">
          <h3>Sheraton Madison Hotel<br><small>{{site.icons.star}}{{site.icons.star}}{{site.icons.star}}{{site.icons.star-half}}</small></h3>
          <p>Group rate: $119<br>{{ site.labels.book-by }} July 1<sup>st</sup>, 2017<br></p>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-1 text-right">
              <a href="https://www.starwoodmeeting.com/events/start.action?id=1611294668&key=111E6D0A" type="button" class="btn btn-outline" target="_blank">{{ site.labels.button-book-hotel }}
              </a>
            </div>
            <div class="col-xs-7 text-left">
              <p>706 John Nolen Dr.<br>Madison, WI 53713<br>(608) 251-2300</p>
            </div>
          </div>
          <br>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="bordered">
          <h3>Courtyard by Marriott Madison West/Middleton<br><small>{{site.icons.star}}{{site.icons.star}}{{site.icons.star}}</small></h3>
          <p>Group Rate: $159<br>{{ site.labels.book-by }} June 19<sup>th</sup>, 2017<br></p>

          <div class="row">
            <div class="col-xs-4 col-xs-offset-1 text-right">
              <a  href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Chen%20%26%20Lombardi%20Wedding%5EMSNCW%60CHECHEA%60159.00%60USD%60false%603%608/4/17%608/6/17%606/20/17&app=resvlink&stop_mobi=yes" type="button" class="btn btn-outline" target="_blank">{{ site.labels.button-book-hotel }}
              </a>
            </div>
            <div class="col-xs-7 text-left">
              <p>2266 Deming Way<br>Middleton, WI 53562<br>(608) 203-0100</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
