<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <core-header-panel>

  <core-toolbar>

  <paper-tabs id="tabs" selected="all" self-end>
    <paper-tab name="all">ALL</paper-tab>
    <paper-tab name="favorites">FAVORITES</paper-tab>
  </paper-tabs>

  </core-toolbar>

  <!-- main page content will go here -->

</core-header-panel>

     <div class="masthead-container">
     <div class="masthead">
        <img src="http://ericjwdchen.github.io/public/favicon-160x160.png" alt="Zune">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
        {{site.pages.title}}
    </div>
    </div>
    <div class="container content">
      {{ content }}
    </div>
     <div class="footer">
        <!--
        <p>
          &copy; {{ site.time | date: '%Y' }}.
        </p>
        -->
    </div>
  </body>
</html>
