<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">

{% include head.html %}

<body>
  <header role="banner">
    <nav>
      <div class="url">
        <a href="{{ site.url }}" title="Home">{{ site.title }}</a>
      </div>
      <div class="navigation-links">
        {% for weight in (1..1) %} {% for p in site.pages %} {% if p.weight == weight %}
        <a {% if p.url == page.url %}class="active"{% endif %} href="{{p.url }}"> {{ p.title }}</a>
        {% endif %} {% endfor %} {% endfor %}
        <a title="Subscribe to ericjwdchen.org via RSS"href ="/rss.xml">rss</a>
      </div>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p class="footer-logo">
      <a href="https://en.wikipedia.org/wiki/Zune_30">
        <img src="{{site.url}}/public/favicon-96x96.png" alt="Zune 30 Logo">
      </a>
    </p>
    <p>© 2014 – {{ 'now' | date: "%Y" }}</p>
  </footer>
</body>
</html>
