---
layout: default
---
<div class="post">

  <h1>
    {% if page.link %}
    <a href="{{ post.link }}">
      ⇜ {{ page.title }} ⇝
    </a>
    {% else %}<span class="post-title>">{{ page.title }}</span>
    {% endif %}
  </h1>

  <p class="post-date">{{ page.date | date: "%B %-d, %Y" }}</p>
  <span class="read-time" title="Estimated read time">
    {% assign reading_time = content | strip_html | number_of_words | plus:91 | divided_by: 180 %}

{% if reading_time < 0.5 %}Less than a minute read
{% elsif reading_time >= 0.5 and reading_time < 1.5 %}1 minute read
{% elsif reading_time >= 1.5 %}<span class="reading-time">{{ reading_time }}</span> minutes read
{% endif %}

  </span>
  {{ content }}
</div>
<div class="divider"></div>
