---
layout: default
---
<div class="post">

  <h1>
    {% if page.link %}
    <a href="{{ post.link }}">
      ⇜ {{ page.title }} ⇝
    </a>
    {% else %}<span class="post-title>">{{ page.title }}</span>
    {% endif %}
  </h1>

  <p class="post-date">{{ page.date | date: "%B %-d, %Y" }}</p>
  <span class="read-time" title="Estimated read time">
    {% capture readtime %}{{ post.content | number_of_words | plus:91 | divided_by:180.0 | append:'.' | split:'.' | first }}{% endcapture %}
    {% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. read

  </span>
  {{ content }}
</div>
<div class="divider"></div>
